@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-font-family: Inter;
  --h1-color: #343c6a;
  --accent-color: #1814f3;
  --secondary-color: #718ebf;
  --input-border-color: #dfeaf2;
  --search-text-color: #8ba3cb;
  --grid-border-color: #e6eff5;
  --white: #ffffff;
  --gray-light: #f5f7fa;
  --gray-medium: #b1b1b1;
  --black: #000000;
}

h1,
p,
span,
label,
button,
input {
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-container {
  background-color: var(--white);
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "aside header"
    "aside section";
  grid-template-columns: 249px 1fr;
  grid-template-rows: 100px 1fr;
}

.header {
  padding: 20px 40px;
  grid-area: header;
  display: grid;
  grid-template-areas: "h1 search btn-cog btn-bell profile-photo";
  grid-template-columns: 1fr 255px 50px 50px 65px;
  column-gap: 30px;
  align-items: center;
  align-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grid-border-color);
}

.hamburger-menu-icon {
  display: none;
  width: 50px;
}

.hamburger-menu-icon svg {
  width: 30px;
  height: 30px;
}

.h1 {
  grid-area: h1;
  font-weight: 600;
  font-size: 28px;
  color: var(--h1-color);
}

.profile-photo {
  justify-self: end;
  border-radius: 50px;
  grid-area: profile-photo;
}

.aside-menu {
  border-right: 1px solid var(--grid-border-color);
  grid-area: aside;
  max-width: 249px;
  padding-left: 44px;
  padding-top: 33px;
}

.aside-menu__link-logo {
  display: block;
  margin-bottom: 62px;
}

.aside-menu__links {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.aside-menu__link {
  display: flex;
  align-items: center;
  gap: 26px;
	width: fit-content;
}

.aside-menu__span {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-medium);
}

.aside-menu__item {
  position: relative;
}

.aside-menu__item::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 6px;
  height: 60px;
  background-color: var(--accent-color);
  top: -50%;
  left: -44px;
  border-radius: 0 10px 10px 0;
  transition: ease-in-out 0.15s opacity;
}

.aside-menu__item:hover::after,
.section-setting__tab:hover::after {
  opacity: 100%;
}

.aside-menu__span {
  transition: ease-in-out 0.15s color;
}
.aside-menu__item:hover .aside-menu__span,
.section-setting__tab:hover .section-setting__span {
  color: var(--accent-color);
}

.aside-menu__item-icon svg path {
  transition: ease-in-out 0.15s fill;
}

.aside-menu__item:hover .aside-menu__item-icon svg path {
  fill: var(--accent-color);
}

.section-setting {
  grid-area: section;
  background-color: var(--gray-light);
  padding: 30px 40px 176px 40px;
}

.section-setting__wrapper {
  background-color: var(--white);
  border-radius: 25px;
  padding: 37px 30px 30px 30px;
}

.section-setting__tabs {
  display: flex;
  gap: 57px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grid-border-color);
}

.section-setting__tab {
  padding-inline: 15px;
  position: relative;
}

.section-setting__tab::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  bottom: -65%;
  left: 0;
  border-radius: 10px 10px 0 0;
  transition: ease-in-out 0.15s opacity;
}

.section-setting__span,
	.edit-profile-form__input-wrapper label {
		font-size: clamp(13px, 11.9437px + 0.2817vw, 16px);
	}

	.input {
		font-size: clamp(13px, 12.2958px + 0.1878vw, 15px);;
	}

.section-setting__span {
	white-space: nowrap;
  font-weight: 500;
  color: var(--secondary-color);
  transition: ease-in-out 0.15s color;
}

.edit-profile-form {
  display: flex;
  padding-top: 52px;
  gap: 53px;
}
.edit-profile-form__profile-photo-wrapper {
  position: relative;
  justify-self: center;
}
.edit-profile-form__profile-photo {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.edit-profile-form__row {
  display: flex;
  gap: 29px;
  justify-content: space-between;
}

.edit-profile-form__inputs-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.edit-profile-form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 22px;
  gap: 11px;
}

.input {
  padding: 16px 16px 16px 22px;
  border-radius: 15px;
  border: 1px solid var(--input-border-color);
  color: var(--secondary-color);
  background: var(--white);
}

.search-form {
  position: relative;
  grid-area: search;
}

.search-form__icon {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(-50%, -40%);
}

.input__search {
  background-color: var(--gray-light);
  border: 0;
  border-radius: 50px;
  padding: 16px 10px 16px 60px;
  max-width: 255px;
}

.input__search::placeholder {
  color: var(--search-text-color);
}

.btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.btn__edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  right: 0;
  top: 84px;
}

.btn_save {
  background-color: var(--accent-color);
  color: var(--white);
  font-size: clamp(15px, 13.9437px + 0.2817vw, 18px);
  font-weight: 500;
  padding: 14px 76px;
  border-radius: 15px;
  max-width: 190px;
  align-self: flex-end;
  transition: ease-in-out 0.15s background-color;
}

.btn_save:hover {
  background-color: #3b38f2;
}

.btn_round {
  background-color: var(--gray-light);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.btn_cog {
  grid-area: btn-cog;
}

.btn_bell {
  grid-area: btn-bell;
}

.btn_cog:hover svg {
  animation: rotateAnimation 3s linear infinite;
}
.btn_bell:hover svg {
  animation: shakeAnimation 1s ease-in-out infinite;
}

@keyframes rotateAnimation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 15px 20px;
  }

  .aside-menu {
    max-width: 100%;
    padding-left: 30px;
  }

  .aside-menu__item::after {
    left: -30px;
  }

  .section-setting__tabs {
    justify-content: center;
  }

  .edit-profile-form {
    flex-direction: column;
    align-items: center;
  }

  .edit-profile-form__row {
    flex-direction: column;
    gap: 20px;
  }

  .btn_save {
    align-self: center;
    padding: 10px 60px;
  }
}

@media screen and (max-width: 958px) {
  .btn_round {
    display: none;
  }

  .section-setting__tabs {
    display: flex;
    gap: 20px;
  }

  .section-setting__tab {
    padding-inline: 6px;
  }

	.edit-profile-form__inputs-wrapper {
		gap: 22px;
	}
	.edit-profile-form__input-wrapper {
		padding-bottom: 0;
	}

  .header {
    display: grid;
    grid-template-areas: "h1 search profile-photo";
    grid-template-columns: max-content 255px 1fr;
    justify-content: start;
    column-gap: 30px;
  }
  .profile-photo {
    justify-self: end;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    grid-template-areas:
      "header"
      "section";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .header {
    grid-template-areas:
      "hamburger h1 photo"
      "search search search";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content;
    row-gap: 20px;
    justify-items: center;
    padding: 25px 25px 20px 25px;
  }

  .search-form {
    display: block;
    width: 100%;
    grid-area: search;
  }

  .input__search {
    width: 100%;
    max-width: none;
  }
  .profile-photo {
    grid-area: photo;
    justify-self: flex-end;
  }

  .aside-menu {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    grid-area: hamburger;
    justify-self: flex-start;
  }

  .btn_save {
    max-width: none;
    align-self: unset;
    border-radius: 9px;
    padding-block: 11px;
  }

  .section-setting {
    padding-inline: 25px;
		padding-block: 25px 0;
  }
}

@media screen and (max-width: 375px) {
  .page-container {
    grid-template-areas:
      "header"
      "section";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .header {
    padding: 25px 15px 20px;
  }

	.profile-photo:not(.edit-profile-form__profile-photo) {
    width: 35px;
    height: 35px;
  }

  .h1 {
    font-size: 20px;
  }
	
  .hamburger-menu-icon svg {
    width: 18px;
  }

  .edit-profile-form {
    gap: 20px;
  }

	.edit-profile-form__row,
	.edit-profile-form__inputs-wrapper {
		gap: 16px;
	}

  .edit-profile-form__profile-photo {
    max-width: 170px;
		width: 100%;
  }
	
	.section-setting__wrapper{
		padding: 22px 20px 25px 20px;
	}

	.edit-profile-form__input-wrapper {
		gap: 9px;
	}

	.section-setting__tabs {
		gap: 10px;
		justify-content: space-between;
	}

	.btn_save {
		margin-top: 4px;
	}

	.input:not(.input__search) {
		padding: 13px 15px 12px;
	}

	.input__search {
		padding: 12px 15px 12px 45px;
	}

	.search-form__icon {
    left: 27px;
	}
}
